
    

    <main>
        <section class="hero">
            <div class="hero-text">

                <section class="intro">
                    <img class="image" src="../assets/portada_nosotros.png" alt="Fondo de mascotas">
                    <h2>Acerca de Nosotros</h2>
                    <p>Nuestro amor por los animales nos motiva a brindar el mejor cuidado.</p>
                <div class="stats">
                    <div class="stat">
                        <h3>45K+</h3>
                        <p>Clientes felices</p>
                    </div>
                    <div class="stat">
                        <h3>20+</h3>
                        <p>Años de experiencia</p>
                    </div>
                    <div class="stat">
                        <h3>4+</h3>
                        <p>Consultorios</p>
                    </div>
                </div>
                <button class="cta-button">Agendar cita</button>
                </section>

                
            </div>
        </section>

        <section class="about-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tH5rTCiwFE8?si=gfg_QHaZ0WBCJ7d7" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
        </section>

        <section class="history">
            <div class="history-content">
                <div class="text-section">
                    <h2>Nuestra Historia</h2>
                    <p>Desde 2019, hemos revolucionado el cuidado de mascotas estableciendo nuevos estándares en la industria. Con una presencia a nivel nacional, ofrecemos un cuidado excepcional para tus queridas mascotas en diversos entornos adaptados a sus necesidades.</p>
                    <h3>Nuestros Valores:</h3>
                    <ul class="values-list">
                        <li>Siempre ser transparentes</li>
                        <li>Trabajar con compasión</li>
                        <li>Sentir orgullo por nuestra comunidad</li>
                        <li>Ser curiosos</li>
                    </ul>
                </div>
                <div class="image-section">
                    <div class="image-container perro">
                        <img src="../assets/Dog_Nosotros.png" alt="Perro feliz">
                    </div>
                    <div class="image-container gato">
                        <img src="../assets/Cat_Nosotros.png" alt="Gato curioso">
                    </div>
                </div>
            </div>
        </section>
        
        

        <section class="team">
            <h2>Nuestro Equipo</h2>
            <div class="team-members">
                <div class="member">
                    <img src="../assets/Equipo 1.png" alt="Lauren Taylor">
                    <p>Lauren Taylor</p>
                </div>
                <div class="member">
                    <img src="../assets/Equipo 2.png" alt="Brian Scott">
                    <p>Brian Scott</p>
                </div>
                <div class="member">
                    <img src="../assets/Equipo 3.png" alt="Ryan Brown">
                    <p>Ryan Brown</p>
                </div>
                <div class="member">
                    <img src="../asstes/Equipo 4.png" alt="Elizabeth Watson">
                    <p>Elizabeth Watson</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2024 Pawsitive Care. Todos los derechos reservados.</p>
    </footer>
