<header>
  <div class="logo">
      <img src="../IMG/LOGO PAWSITIVE.png" alt="Pawsitive Care">
      <h1 class="text-logo">Pawsitive Care</h1>
  </div>
  <nav>
      <ul>
          <li><a href="/inicio">Inicio</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/nosotros">Acerca de nosotros</a></li>
          <li><a href="horarios.html">Ubicación & horarios</a></li>
          <li><a href="/amigos-peludos">Amigos Peludos</a></li>
          <li><a [routerLink]="['/login-selection']" class="selected">Login</a></li> 
      </ul>
  </nav>
</header>
