<main>
    <div class="login">
        <div class="login-container">
            <h2>Iniciar Sesión como Veterinario</h2>
            <form (ngSubmit)="onSubmit()">
                <label for="cedula">Cédula:</label>
                <input type="text" id="cedula" [(ngModel)]="cedula" name="cedula" required>

                <label for="clave">Contraseña:</label>
                <input type="password" id="clave" [(ngModel)]="clave" name="clave" required>

                <button type="submit">Iniciar Sesión</button>
            </form>
            <div *ngIf="error" class="error">{{ error }}</div> <!-- Mensaje de error -->
        </div>
    </div>
</main>
