
<section class="inicio">
    <div class="iniciocontenido">
        <h1>Pawsitive Care</h1>
        <p>Amor y cuidado para cada cola feliz</p>
        <button class="button">Programar cita</button>
    </div>
    <img src="../assets/Imagen Principal.png" alt="Happy dog" class="fotoinical">
</section>

<!-- Línea amarilla -->
<div class="linea-amarilla"></div>

<!-- Sección con la imagen centrada y el botón de play -->
<section class="fotovideo">
    <div class="fotocontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/x0CIUFRBgwY?si=7NiCFFiDaRQhf9-t" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
    </div>
</section>

<!-- Sección de Servicios -->
<section class="servicios">
    <div class="texto-y-boton">
        <h2>Salud Óptima para tus Mascotas</h2>
        <p>Ofrecemos Servicios Veterinarios Integrales para asegurar el bienestar y la felicidad de tus amigos peludos. Desde chequeos regulares hasta tratamientos especializados, nuestro equipo está dedicado a proporcionar el mejor cuidado para cada etapa de la vida de tu mascota.</p>
        <button class="button">Más información</button>
    </div>
    
    <div class="servicios-container">
        <div class="servicio">
            <h3>Examen Físico</h3>
            <p>Chequeos completos para asegurar su bienestar</p>
        </div>
        <div class="servicio">
            <h3>Cuidado de la Piel y Peluquería</h3>
            <p>Mantenemos su pelaje limpio y saludable</p>
        </div>
        <div class="servicio">
            <h3>Vacunación</h3>
            <p>Protección esencial contra enfermedades</p>
        </div>
        <div class="servicio">
            <h3>Nutrición</h3>
            <p>Dieta balanceada para una vida saludable</p>
        </div>
    </div>
</section>
